/* IMPORTS ESTILOS PRINCIPALES */
/* RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* PRINCIPALES */
#body {
  background-color: rgba(229, 229, 216, 0.8);
}

#main {
  min-height: 100vh;
  margin-top: 5%;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #5A4202;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-left: 2em;
}

h3 {
  font-family: "Raleway", sans-serif;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 500px;
  text-align: end;
  margin-right: 2em;
}

p {
  font-family: "Raleway", sans-serif;
}

.header__navbar {
  background-color: #59A7A7;
  font-family: "Raleway", sans-serif;
}

.nav-link {
  font-size: 16px;
  font-weight: 320;
  transition: font-weight 0, 5 ease, color 0, 5 ease;
}

.nav-link:hover {
  font-size: 17px;
  font-weight: 480;
  color: #f0e9a6;
}

/* FOOTER */
#footer {
  margin-top: auto;
}

.footer__row {
  min-height: 200px;
  display: flex;
  background-color: #59A7A7;
  border: 1px gray solid;
}

.footer__navbar ul {
  display: flex;
  text-decoration: none;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
}

.footer__navbar--redes {
  color: black;
  padding: 1em;
  font-size: 18px;
  font-weight: 320;
  transition: color 1 ease, font-size 1 ease;
}

.footer__navbar--redes:hover {
  color: #f0e9a6;
  font-size: 22px;
}

.footer__text {
  font-size: 14px;
  justify-content: left;
  margin-left: 2em;
}

.footer__text h4 {
  font-size: 28px;
  text-align: left;
  margin-left: 1em;
}

.footer__navbar--FAQ {
  margin-left: 1em;
}

.footer__navbar--FAQs {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.footer__navbar--FAQs:hover {
  color: #f0e9a6;
  font-size: 16px;
}

.footer__logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 440px) {
  .footer__logos {
    flex-direction: column;
    justify-content: center;
  }
  .footer__navbar--FAQs {
    font-size: 12px;
  }
  .footer__text h4 {
    font-size: 24px;
  }
  .footer__navbar--redes {
    font-size: 14px;
    padding: 8px;
  }
}
/* IMPORTS ESTILOS PAGES */
/* PRODUCTOS */
.main__row--product {
  height: auto;
  background-color: #9DD6B3;
  justify-items: end;
}

.main__product--container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.main__product--text {
  font-size: 14px;
  text-align: center;
}

.main__button--product {
  display: flex;
  height: 2.5em;
  width: 5em;
  align-items: center;
  font-family: "Raleway";
}

/* BLOG */
.main__blog--backround {
  height: auto;
  background-color: #9DD6B3;
  margin-top: 5em;
}

.main__blog--textarea {
  display: block;
  padding: 2em;
  text-align: justify;
  margin-left: 1em;
  margin-right: 1em;
}

.main__blog--title {
  font-size: larger;
}

.main__blog--photo {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 20px;
}

/* CARRITO */
/* CLASE BASE EXTEND TEXTO */
.text-format, .SUMAPREC, .precio6, .precio5, .precio4, .precio3, .precio2, .PRECIO, .SUMACANT, .cantidad6, .cantidad5, .cantidad4, .cantidad3, .cantidad2, .CANTIDAD, .TOTAL, .descripcion6, .descripcion5, .descripcion4, .descripcion3, .descripcion2, .PRODUCTO, .PAGAR, .VOLVER {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  text-align: center;
}

/* GRID TEMPLATE*/
.main__cart {
  min-width: auto;
  background-color: #9DD6B3;
  margin-top: 3em;
}

.main__cart--grid {
  display: grid;
  grid-template-columns: 80px 1fr 80px 1fr;
  grid-template-areas: "  .    PRODUCTO CANTIDAD PRECIO" "foto2 descripcion2 cantidad2 precio2" "foto3 descripcion3 cantidad3 precio3" "foto4 descripcion4 cantidad4 precio4" "foto5 descripcion5 cantidad5 precio5" "foto6 descripcion6 cantidad6 precio6" "VOLVER TOTAL SUMACANT SUMAPREC" "   .     .      .     PAGAR";
  row-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* ITEMS */
.foto2 {
  grid-area: foto2;
  padding: 0.5em;
}

.foto3 {
  grid-area: foto3;
  padding: 0.5em;
}

.foto4 {
  grid-area: foto4;
  padding: 0.5em;
}

.foto5 {
  grid-area: foto5;
  padding: 0.5em;
}

.foto6 {
  grid-area: foto6;
  padding: 0.5em;
}

.VOLVER {
  grid-area: VOLVER;
  padding: 5px;
}

.PAGAR {
  grid-area: PAGAR;
  padding: 5px;
}

.PRODUCTO {
  grid-area: PRODUCTO;
  font-weight: 600;
  background-color: lightgray;
  padding: 10px;
}

.descripcion2 {
  grid-area: descripcion2;
  padding: 10px;
}

.descripcion3 {
  grid-area: descripcion3;
  padding: 10px;
}

.descripcion4 {
  grid-area: descripcion4;
  padding: 10px;
}

.descripcion5 {
  grid-area: descripcion5;
  padding: 10px;
}

.descripcion6 {
  grid-area: descripcion6;
  padding: 10px;
}

.TOTAL {
  grid-area: TOTAL;
  font-weight: 600;
  background-color: lightgray;
  padding: 10px;
}

.CANTIDAD {
  grid-area: CANTIDAD;
  font-weight: 600;
  background-color: lightgray;
  padding: 10px;
}

.cantidad2 {
  grid-area: cantidad2;
  padding: 10px;
}

.cantidad3 {
  grid-area: cantidad3;
  padding: 10px;
}

.cantidad4 {
  grid-area: cantidad4;
  padding: 10px;
}

.cantidad5 {
  grid-area: cantidad5;
  padding: 10px;
}

.cantidad6 {
  grid-area: cantidad6;
  padding: 10px;
}

.SUMACANT {
  grid-area: SUMACANT;
  font-weight: 600;
  background-color: lightgray;
  padding: 10px;
}

.PRECIO {
  grid-area: PRECIO;
  font-weight: 600;
  background-color: lightgray;
  padding: 10px;
}

.precio2 {
  grid-area: precio2;
  padding: 10px;
}

.precio3 {
  grid-area: precio3;
  padding: 10px;
}

.precio4 {
  grid-area: precio4;
  padding: 10px;
}

.precio5 {
  grid-area: precio5;
  padding: 10px;
}

.precio6 {
  grid-area: precio6;
  padding: 14px;
}

.SUMAPREC {
  grid-area: SUMAPREC;
  font-weight: 600;
  background-color: lightgray;
  padding: 10px;
}

/* CONTACTO */
.main__row--contact {
  display: flex;
  background-color: #9DD6B3;
  font-family: "Raleway", sans-serif;
  margin-top: 4em;
}

.messagebox {
  height: 11.5em;
}

.main__row--map {
  display: flex;
  background-color: #9DD6B3;
  font-family: "Raleway", sans-serif;
}

.main__row--photo {
  background-color: #9DD6B3;
}

.main__map {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.main__contact--invite {
  justify-content: center;
  padding: 3px;
  margin: 1px;
}

/* FONTS */
@font-face {
  font-family: "Raleway", "sans-serif";
  src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype"), url("../fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* HOME INDEX */
.main__index--photo1 {
  background-color: #9DD6B3;
}

.main__index--card {
  background-color: #9DD6B3;
}

.slider {
  width: 100vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide__track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: 7000px;
}

.slider .slide {
  width: 700px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-3500px);
    transform: translateX(-3500px);
  }
}

/*# sourceMappingURL=style.css.map */
