
/* IMPORTS ESTILOS PRINCIPALES */

@import "styles-principales/reset.scss";
@import "styles-principales/header.scss";
@import "styles-principales/_footer.scss";


/* IMPORTS ESTILOS PAGES */
@import "styles-pages/_productos.scss";
@import "styles-pages/_blog.scss";
@import "styles-pages/_carrito.scss";
@import "styles-pages/_contacto.scss";

/* FONTS */

@font-face {

    font-family: "Raleway", "sans-serif";
    src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype"), url("../fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;

} 



/* HOME INDEX */

.main__index--photo1{

  background-color:#9DD6B3;

}

.main__index--card {

  background-color:#9DD6B3;

}


.slider {

  width:100vw;
  height:auto;
  margin:auto;
  overflow:hidden;

}

.slider .slide__track {

  display:flex;
  animation:scroll 40s linear infinite;
  -webkit-animation:scroll 40s linear infinite;
  width: calc(700px * 10);


}

.slider .slide {

  width:700px;

}

.slider .slide img {

  width:100%;

}

@keyframes scroll {

  0% {
    -webkit-transform:translateX(0);
    transform:translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-700px * 5));
    transform: translateX(calc(-700px * 5));
  }


}











