


/* BLOG */

.main__blog--backround {

    height:auto;
    background-color:#9DD6B3;
    margin-top:5em;
}

.main__blog--textarea {
    
    display:block;
    padding:2em;
    text-align: justify;
    margin-left:1em;
    margin-right:1em;

}

.main__blog--title{

    font-size:larger;
} 