
/* CARRITO */


/* CLASE BASE EXTEND TEXTO */

.text-format {

    font-family: "Raleway", sans-serif;
    font-size: 13px;
    text-align: center;

}


/* GRID TEMPLATE*/

.main__cart {
    
    min-width:auto;
    background-color:#9DD6B3;
    margin-top:3em;
    }

.main__cart--grid {

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "  .    PRODUCTO CANTIDAD PRECIO ELIMINAR"
    "foto2 descripcion2 cantidad2 precio2 boton2"
    "foto3 descripcion3 cantidad3 precio3 boton3"
    "foto4 descripcion4 cantidad4 precio4 boton4"
    "foto5 descripcion5 cantidad5 precio5 boton5"
    "foto6 descripcion6 cantidad6 precio6 boton6"
    "VOLVER TOTAL SUMACANT SUMAPREC PAGAR";
    row-gap:10px;
    margin-left:10px;
    margin-right:10px;

    }

/* ITEMS */

.foto2 {

    grid-area:foto2;
    padding:0.5em;

    }

.foto3 {

    grid-area:foto3;
    padding:0.5em;

    }

.foto4 {

    grid-area:foto4;
    padding:0.5em;

    }

.foto5 {

    grid-area:foto5;
    padding:0.5em;

}

.foto6 {

    grid-area:foto6;
    padding:0.5em;

}

.VOLVER {

    grid-area:VOLVER;
    @extend .text-format;
    padding:5px;

}

.PRODUCTO {

    grid-area:PRODUCTO;
    @extend .text-format;
    font-weight:600;
    background-color: lightgray;
    padding:10px;

}

.descripcion2 {

    grid-area:descripcion2;
    @extend .text-format;
    padding:10px;

}

.descripcion3 {

    grid-area:descripcion3;
    @extend .text-format;
    padding:10px;

}

.descripcion4 {

    grid-area:descripcion4;
    @extend .text-format;
    padding:10px;

}

.descripcion5 {

    grid-area:descripcion5;
    @extend .text-format;
    padding:10px;

}

.descripcion6 {

    grid-area:descripcion6;
    @extend .text-format;
    padding:10px;

}

.TOTAL {

    grid-area:TOTAL;
    @extend .text-format;
    font-weight:600;
    background-color: lightgray;
    padding:10px;

}

.CANTIDAD {

    grid-area:CANTIDAD;
    @extend .text-format;
    font-weight:600;
    background-color: lightgray;
    padding:10px;

}

.cantidad2 {

    grid-area:cantidad2;
    @extend .text-format;
    padding:10px;

}

.cantidad3 {

    grid-area:cantidad3;
    @extend .text-format;
    padding:10px;

}

.cantidad4 {

    grid-area:cantidad4;
    @extend .text-format;
    padding:10px;

}

.cantidad5 {

    grid-area:cantidad5;
    @extend .text-format;
    padding:10px;

}

.cantidad6 {

    grid-area:cantidad6;
    @extend .text-format;
    padding:10px;

}

.SUMACANT {

    grid-area:SUMACANT;
    @extend .text-format;
    font-weight:600;
    background-color: lightgray;
    padding:10px;

}

.PRECIO {

    grid-area:PRECIO;
    @extend .text-format;
    font-weight:600;
    background-color: lightgray;
    padding:10px;

}

.precio2 {

    grid-area:precio2;
    
    @extend .text-format;
    padding:10px;

}

.precio3 {

    grid-area:precio3;
    @extend .text-format;
    padding:10px;

}

.precio4 {

    grid-area:precio4;
    @extend .text-format;
    padding:10px;

}

.precio5 {

    grid-area:precio5;
    @extend .text-format;
    padding:10px;

}

.precio6 {

    grid-area:precio6;
    @extend .text-format;
    padding:14px;

}

.SUMAPREC {

    grid-area:SUMAPREC;
    @extend .text-format;
    font-weight:600;
    background-color: lightgray;
    padding:10px;

}

.ELIMINAR {

    grid-area:ELIMINAR;
    @extend .text-format;
    font-weight:600;
    background-color: lightgray;
    padding:10px;

}

.boton2 {

    grid-area:boton2;
    @extend .text-format;
    padding:10px;

}

.boton3 {

    grid-area:boton3;
    @extend .text-format;
    padding:10px;

}

.boton4 {

    grid-area:boton4;
    @extend .text-format;
    padding:10px;

}

.boton5 {

    grid-area:boton5;
    @extend .text-format;
    padding:10px;

}

.boton6 {

    grid-area:boton6;
    @extend .text-format;
    padding:10px;

}

.PAGAR {

    grid-area:PAGAR;
    @extend .text-format;
    padding:5px;

}
