

/* CONTACTO */

.main__row--contact {

    display:flex;
    background-color:#9DD6B3;
    font-family: "Raleway", sans-serif;
    margin-top: 4em;

}

.messagebox {

    height: 11.5em;
}


.main__row--map {

    display:flex;
    background-color:#9DD6B3;
    font-family: "Raleway", sans-serif;

    

}

.main__row--photo {

    background-color:#9DD6B3; 

}
.main__map {

    display:flex;
    justify-content: center;
    padding-top:20px;
}

.main__contact--invite {


    justify-content: center;
    padding:3px;
    margin:1px;

}