

/* CONTACTO */

.main__row--contact {

    display:flex;
    background-color:#9DD6B3;
    font-family: "Raleway", sans-serif;
    margin-top: 4em;

}

.messagebox {

    height: 11.5em;
}

.main__row--map {

    display:flex;
    background-color: #9DD6B3;
    padding:10px;

}

.main__map--container {

    display:flex;
    position:relative;
    height:380px;
    width:auto;
}