

/* PRODUCTOS */


.main__row--product {

    height:auto;
    background-color:#9DD6B3;
    justify-items:end;
}

.main__product--container {

    display:flex;
    justify-content:space-between;
    align-content:center;

}

.main__product--text {

    font-size: 14px;
    text-align:center;
}

.main__button--product {

    display:flex;
    height: 2.5em;
    width: 5em;
    align-items:center;
    font-family:"Raleway";

}

@media (max-width:490px) {

    .main__product--text {

        font-size: 12px;
        text-align:center;
    }


}

@media (max-width:800px) {

    .main__product--text {

        font-size: 12px;
        text-align:center;
    }


}
