


/* FOOTER */

#footer {

    margin-top:auto;

}

.footer__row {
    
    min-height:230px;
    display:flex;
    background-color:#59A7A7;
    border: 1px gray solid;

}

.footer__navbar ul {
    

    display:flex;
    text-decoration:none;
    justify-content:left;
    align-items:center;
    margin-top:10px;
    
}

.footer__navbar--redes {

    
    color:black;
    padding:1em;
    font-size: 18px;
    font-weight:320;
    transition: color 1 ease, font-size 1 ease;

    

}

.footer__navbar--redes:hover {

    color:#f0e9a6;
    font-size:22px;
}


.footer__text h4 {
    
    font-size:28px;
    text-align:left;
    margin-left: 1em;



}

.footer__copyright {

    font-size:12px;
    text-align:right;
    margin-left: 1em;

}


.footer__navbar--FAQ {

    margin-left:1em;
    
}

.footer__navbar--FAQs {

    font-family:"Raleway", sans-serif;
    font-size:14px;
    text-decoration:none;
    color:black;
}

.footer__navbar--FAQs:hover {

    color:#f0e9a6;
    font-size:16px;
}

.footer__logos {

    display:flex;
    align-items:center;
    justify-content:space-around;

}

@media (max-width:490px) {

    .footer__logos {


        flex-direction: column;
        justify-content:center;
        margin-top:5px;


    }

    .footer__navbar--FAQs {

        font-size:12px;
        margin-left:-8px;
    
    }

    .footer__navbar--FAQs:hover {

        color:#f0e9a6;
        font-size:10px;
    }

    .footer__text h4 {

        font-size:24px;
    }

    .footer__navbar--redes {

        font-size:14px;
        padding:8px;
    }

    .footer__navbar--redes:hover {

        color:#f0e9a6;
        font-size:16px;
    }


}
