


/* FOOTER */

#footer {

    margin-top:auto;

}

.footer__row {
    
    min-height:100px;
    display:flex;
    background-color:#59A7A7;

}

.footer__navbar ul {
    

    display:flex;
    text-decoration:none;
    justify-content:left;
    align-items: center;
    
}

.footer__navbar--redes {

    
    color:black;
    padding:1em;
    font-size: 18px;
    font-weight:320;
    transition: color 0.5 ease, font-size 0.5 ease;

}

.footer__navbar--redes:hover {

    color:#5ae48f;
    font-size:22px;
}

