


/* FOOTER */

#footer {

    margin-top:auto;

}

.footer__row {
    
    min-height:100px;
    display:flex;
    background-color:#59A7A7;

}

.footer__navbar ul {
    

    display:flex;
    text-decoration:none;
    justify-content:left;
    align-items: center;
    
}

.footer__navbar--redes {

    
    color:black;
    padding:1em;

}